apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml

labels:
  - pairs:
      app: prosys-opcua-simulation
      component: opc-ua-server

images:
  - name: mcr.microsoft.com/iotedge/opc-plc
    newTag: latest
